@import "variables";

.background {
    background-image: url("/assets/image/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    margin: auto;
    position: relative;

    &::before {
        content: " ";
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0,0,0,0.5);
    }

    .caption {
        position: absolute;
        z-index: 10;
        top: 25%;
        left: 50%;
        transform: translateX(-50%);

        h1 {
            color: white;
            font-family: "Times new roman";
            font-weight: 700;
        }
    }
}

.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .login-form {
        padding: 30px 20px;
        background-color: rgba (0,0,0,0);

        input {
            border-radius: 20px !important;
            height: 40px;
        }

        .warning-message,
        label {
            color: white;
        }

        .warning-message {
            margin-bottom: 10px;
        }

        .form-control {
            background-color: rgba(0,0,0,0.2) !important;
            color: white !important;
            padding-left: 20px;
            transition: all 0.3s;

            &::placeholder {
                color: white !important;
            }

            &:focus {
                background-color: white !important;
                color: black !important;
            }
        }
    }

    .submit {
        margin-bottom: 0;

        .btn {
            text-align: center;
            width: 100%;
            height: 40px;
            border-radius: 20px !important;
        }
    }
}
