.body-navbar {
    margin-bottom: 0;
    padding: 30px 0;
    display: flex;

    .number-of-table-form {
        margin-left: auto;
        display: flex;

        p {
            margin: 10px 5px 0;
        }
    }

    h1 {
        margin: 0;
        font-weight: 600;
        padding-left: 0;
    }

    p {
        margin: 10px 0 0;
        padding-right: 0;
        width: auto;
    }
}

.input-group {
    &.search-box {
        width: 250px;
        margin-left: 10px;
    }
}

.tool-bar {
    padding: 0;
    display: flex;

    .pagenumber {
        float: right;
    }

    &.create-page {
        margin: 40px 0;
    }

    .btn-create {
        text-align: center;
    }
}
// BEGIN dir-pagination

.pagination {
    margin: 0;
}
// END dir-pagination

.table {
    .btn {
        color: white;
    }

    tbody {
        tr {
            td {
                vertical-align: middle;
                text-align: center;
            }
        }
    }
}

table {
    &.list {
        th {
            background-color: $color-sidebar;
            color: white;
            text-align: center;
        }
    }
}

nav {
    .pagination {
        position: absolute;
        right: 0;
    }
}

.dropdown {
    button {
        width: auto;
        background: #364150;
        margin: 0;
        font-size: 14px;
        font-weight: 600;
        padding: 0;
        color: white;
    }

    label {
        &.dropdown-content {
            color: #555;
            padding: 0;
        }
    }

    .check-box-form {
        display: flex;

        &:hover {
            background-color: #f3f3f3;
        }

        span {
            font-size: 1em;
            color: black;
            font-weight: 500;
            padding: 5px 0;
        }
    }
}

.form-control {
    &.number-of-table {
        width: auto;
    }
}

input,
select {
    margin-bottom: 20px;
}

.input-form {
    margin-top: 30px;
    margin-bottom: 30px;

    label {
        font-weight: bold;
    }
}

.button-form {
    &.create-page {
        width: auto;
        padding: 0 5px;
        float: right;
    }
}

.body-content {
    .main-content {
        a {
            color: $color-navbar;
        }
    }

    &.detail {
        .row {
            display: flex;
        }
    }
}
// BEGIN LIST DETAILS

.label-content {
    padding-top: 10px;
    display: flex;

    &.total-earning {
        font-size: 1.9em;
        padding-top: 70px;
    }
}

.action {
    margin: auto;

    .btn {
        margin: 0;
        width: auto;
    }

    .action-page-detail {
        float: right;
        text-align: center;
    }
}

.btn span.glyphicon {
    opacity: 0;
}

.btn.active span.glyphicon {
    opacity: 1;
}

.form-information, .form-payrate {
    margin: auto;
    min-width: 300px;
    margin-top: 0;
    span {
        &.title {
            min-width: 250px;
        }
    }
}
// END LIST DETAILS
.btn-group {
    button {
        text-align: center;
        width: auto;
        margin: 0 10px 20px 0;
    }
}
// CHECK BOX

input[type=checkbox] {
    display: none;
}

.check-box {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    transition: border-color all 0,3s;
    cursor: pointer;
    margin: 5px 10px;

    &::after,
    &::before {
        box-sizing: border-box;
        position: absolute;
        height: 0;
        width: 5px;
        background-color: $color-navbar;
        display: inline-block;
        transform-origin: left top;
        border-radius: 5px;
        content: ' ';
        transition: opacity ease 0.5;
    }

    &::before {
        top: 15px;
        left: 9px;
        transform: rotate(-135deg);
    }

    &::after {
        top: 10px;
        transform: rotate(-45deg);
    }
}

.check-box.checked,
input[type=checkbox]:checked + .check-box {
    border-color: $color-navbar;

    &::after {
        height: 10px;
    }

    &::before {
        height: 20px;
    }
}
//END CHECKBOX
// BEGIN CREATE FORM

.tab-content {
    margin-top: 40px;

    
}

.form-horizontal {
    
    .form-group {
        margin: auto;
    }

    .control-label {
        font-weight: bold;
    }
}

.main-form {
    display: flex;
    flex-direction: column;
}
// END CREATE FORM
