.loader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;

    .loading-icon {
        width: 50px;
        margin: auto;

        img {
            width: 100%;
        }
    }
}
