.page-content {
    height: calc(100vh - 50px);
    overflow: auto;
}
.dashboard-stat {
    .details {
        .desc {
            font-size: 15px;
            padding-left: 20px;
        }
    }
}

.page-title {
    width: 90%;
}

.row {
    .dashboard-stat {
        .details {
            .desc {
                font-size: 13px;
            }
        }
        margin-bottom: 0;
    }
}
.btn {
    width: 100%;
    border: none;
    text-align: end;
    margin-bottom: 25px;

    &.btn-hiring-anni {
        background-color: #2f83bc;

        &:hover {
            background-color: #2d73a3;
        }
    }
    &.btn-vacation {
        background-color: #db3d47;

        &:hover {
            background-color: #d82934;
        }
    }
    &.btn-benefit {
        background-color: #25b0bc;

        &:hover {
            background-color: #129aa5;
        }
    }
    &.btn-birthday {
        background-color: #7e329e;

        &:hover {
            background-color: #682087;
        }
    }
}
