.page-header {
    a {
        text-decoration: none;
    }

    .title {
        &.logo {
            font-size: 2.5em;
            color: white;

            &:hover {
                color: lightgrey;
            }
        }
    }
}

.dropdown-menu {
    .dropdown-menu-title {
        margin: 5px 0;
        padding-left: 10px;
    }

    .content {
        padding: 10px 0 10px 5px;

        &:hover {
            background-color: #F2F2F2;
            transition: all 0.3s;
        }
    }

    .bold-font {
        font-weight: 600;
        padding: 0;

        &.notification-title {
            font-size: 12px;
        }
    }

    span {
        font-size: 12px;
        padding-left: 5px;
    }

    hr {
        margin: 0;
    }
}
