.cg-notify-message {
	display: flex;
	padding: 0;
	background-color: $brand-primary;
	min-width: 200px;

	&.success {
		background-color: $brand-success;
	}

	&.warning {
		background-color: $brand-warning;
	}

	&.danger {
		background-color: $brand-danger;
	}

	&.info {
		background-color: $brand-primary;
	}
}

.cg-notify-icon {
	flex: 1 0 60px;
	display: flex;
	padding: 12px;
	background-color: rgba(0,0,0,0.2);

	.fa {
		margin: auto;
		font-size: 18px;
		color: #fff;
	}
}

.cg-notify-message-text {
	flex: 1 0 calc(100% - 50px);
	padding: 12px;
	color: #fff;
	text-align: left;
}

.cg-notify-close {
	right: 5px;
	top: 5px;
}