// Scrollbar handler
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(3,3,3,0.4);

    &:hover {
        background: rgba(3,3,3,0.5);
    }
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(3,3,3,0.5);
}