.page-sidebar-wrapper {
    .page-sidebar {
        .page-sidebar-menu {
            .nav-item {
                .nav-link {
                    .badge {
                        top: 10px;
                    }
                }
            }
        }
    }
}
