.modal-footer {
    button {
        margin-bottom: 0;
        margin-left: 5px;
        margin: 0 5px;
        text-align: center;
        width: 10%;
    }
}

.modal-header {
    .cancel-btn {
        position: absolute;
        right: 10px;
        top: 10px;
    }
}
